/*ESERCIZIO 1*/
.ex-1-square{
    transition: all 2s ease 0s;
}

div.ex-1-square:hover{
    background-color: red;
}


/*ESERCIZIO 2*/
.ex-2-square{
    transition: all 2s ease 0s;
}

div.ex-2-square:active{
    width: 100%;
}


/*ESERCIZIO 3*/
.ex-3-square{
    transition: all 0.5s ease 0s;
}

div.ex-3-square:hover{
    border-radius: 50%;
}


/*ESERCIZIO 4*/
.ex-4-square{
    transition: all 1s ease 0s;
}

div.ex-4-square:hover{
    opacity: 0;
}


/*ESERCIZIO 5*/
.ex-5-square{
    background-color: rgba(255, 0, 0, 0);
    position: relative;
}

.ex-5-square::before{
    content: "";
    background-color: red;
    width: 60px;
    height: 60px;
    position: absolute;
    transition: all 1s ease 0s;
    top:0;
    left: 0;
}

.ex-5-square:hover::before{
    width: 120px;
    height: 120px;
    top:-30px;
    left: -30px;
}

.ex-5-square:active::before{
    width:30px;
    height:30px;
    top:15px;
    left:15px;
}

/* era poco fantasiosa

.ex-5-square:hover{
    transform: scale(2);
}
.ex-5-square:active{
    transform: scale(0.5);
}

}*/


/*ESERCIZIO 6*/
.ex-6-img{
    transition: all 0.2s ease 0s;
}

img.ex-6-img:hover{
    filter: grayscale(1)
}


/*ESERCIZIO 7*/
.ex-7-img{
    transition: all 2s ease 0s;
}

img.ex-7-img:hover{
    filter: saturate(0.6) sepia(0.6);
}


/*ESERCIZIO 8*/
.ex-8-img{
    transition: all 2s ease 0s;
}

img.ex-8-img:hover{
    filter: saturate(0.6) sepia(0.6);
    border-radius: 20px;
}


/*ESERCIZIO 9*/
.ex-9-img{
    transition: all 2s ease 0s;
}

img.ex-9-img:hover{
    filter: saturate(0.6) sepia(0.6);
    border-radius: 20px;
    transform: scale(1.5);
}


/*ESERCIZIO 10*/
.ex-10-icon{
    animation: ruotasinistra 1s linear infinite;
}
.ex-10-icon:hover{
    animation: ruotadestra 1s linear infinite;
}


@keyframes ruotasinistra{
    0%{
        transform: rotate(360deg);
    }
}
@keyframes ruotadestra{
    100%{
        transform: rotate(360deg);
    }
}


/*ESERCIZIO 11*/
.ex-11-icon:hover{
    animation: ruotadestra 2s linear;
}

@keyframes ruotadestra{
    100%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    90%{
        transform: rotate(315deg);
    }
}


/*ESERCIZIO 12*/
.ex-12-button:hover .ex-12-top-white{
    animation: top-white-12 2s linear;
}
.ex-12-button:hover .ex-12-bottom-white{
    animation: bottom-white-12 2s linear;  
}
@keyframes top-white-12{
    0%{
        left: 10%;
    }
    50%{
        left: 69%;
    }
    90%{
        left: 10%;
    }
}

@keyframes bottom-white-12{
    0%{
        right: 20%;
    }
    50%{
        right: 69%;
    }
    90%{
        right: 20%;
    }
}


/*ESERCIZIO 13*/
.ex-13-button:hover .ex-13-top-white{
    animation: top-white-13 2s linear;
}
.ex-13-button:hover .ex-13-bottom-white{
    animation: bottom-white-13 2s linear;  
}

/*il top deve andare da -10 a 50px
il left deve arrivare a 70/75% 
partendo da 10%*/

@keyframes top-white-13{
    0%{
        left: 10%;
        top:-10px;
    }
    30%{
        left: 75%;
        top:-10px;
    }
    40%{
        left: 75%;
        top:50px;
    }
    70%{
        left: -5%;
        top:50px;
    }
    80%{
        left: -5%;
        top:-10px;
    }
    95%{
        left: 10%;
        top:-10px;
    }
}

/*bottom deve andare da -10 a 50px
il right deve arrivare a 70/75% 
partendo da 20%*/

@keyframes bottom-white-13{
    0%{
        right: 20%;
        bottom:-10px;
    }
    30%{
        right: 75%;
        bottom:-10px;
    }
    40%{
        right: 75%;
        bottom:50px;
    }
    70%{
        right: -5%;
        bottom:50px;
    }
    80%{
        right: -5%;
        bottom:-10px;
    }
    95%{
        right: 20%;
        bottom:-10px;
    }
}

